<h2>Orders</h2>


<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Can I modify an order after placing it?</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Once an order is confirmed and processed, it cannot be modified. However, if the order hasn’t been shipped yet, you may be able to cancel or adjust it. Please contact our support team as soon as possible to verify available option</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>How can I track my order?</mat-panel-title>
    </mat-expansion-panel-header>
    <p>After placing an order, you will receive an email with the tracking number and a link to follow the shipment's progress. You can also log into your account to view your order status in the "My Orders" section.</p>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>What should I do if my order hasn’t arrived or is delayed?</mat-panel-title>
    </mat-expansion-panel-header>
    <p>If your order hasn’t arrived within the expected time, first check the tracking status using the provided tracking number. If you still don’t have information, please contact our support team for assistance. We will do our best to resolve the issue.</p>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>How can I place an order?</mat-panel-title>
    </mat-expansion-panel-header>
    <p>To place an order, browse through our products, add the desired items to your cart, and proceed to checkout. Enter your shipping and payment details and confirm your order. You will receive an email notification with the details of your purchase.</p>
  </mat-expansion-panel>

  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Can I place an order for someone else?</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Yes, you can place an order as a gift or for someone else. Simply enter the recipient’s shipping details during checkout. If you’d like to include a personalized message or note, you can do so during the checkout process.</p>
  </mat-expansion-panel>