<h2>Payments</h2>


<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>What payment methods are accepted?</mat-panel-title>
    </mat-expansion-panel-header>
    <p>We accept payments via credit and debit cards (Visa, MasterCard, American Express), PayPal, bank transfers, and other secure payment options. Specific options may vary depending on your location.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>How can I add or update my payment method?</mat-panel-title>
    </mat-expansion-panel-header>
    <p>You can add or update your payment method in your profile under the "Payment Methods" section. Once updated, the new method will be used for future purchases.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>I’m having trouble with a payment, how can I fix it?</mat-panel-title>
    </mat-expansion-panel-header>
    <p>If your payment didn’t go through, make sure the card details are correct and that you have sufficient funds. If the issue persists, try using another payment method or contact our support team for assistance.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Can I pay in installments?</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Some payment methods offer installment options. If available, this will be shown during checkout. If you don’t see this option, check whether it’s applicable to your location or contact our support team for more details.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>How can I request an invoice for my purchase?</mat-panel-title>
    </mat-expansion-panel-header>
    <p>You can request an invoice from your account in the "Past Orders" section. If you need a specific invoice for tax or business purposes, please contact our customer support.</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>What should I do if my payment was processed but I didn’t receive an order confirmation</mat-panel-title>
    </mat-expansion-panel-header>
    <p>If your payment was successfully processed but you didn’t receive a confirmation, check your spam folder for the email. If you still don’t see it, visit the "My Orders" section in your account, or contact support to resolve the issue.</p>
  </mat-expansion-panel>