@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Passion+One:wght@400;700;900&display=swap');

html body {
  height:100%;
  width: 100%;
}

.faq-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43vh;
  width: 100%;
  // border: 2px solid black;
}

.faq-img{
  display: flex;
  justify-content: center;
  // border: 2px solid black;
  width: 50%;
  img{
    width: 50%;
    height: 100%;
  }
}

.faq-text{
  h1{
    font-family: "Playwrite AU SA", serif;
    font-size: 5vh;
  }
  p{
    font-family: "Open Sans", serif;
    font-size: 2vh;
  }
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 2vh;
  align-items: center;
}

.slogan-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 42vh;
  font-family: "Playwrite AU SA", serif;
  font-size: 8vh;
  color: #5e9c5973;
  // border: 2px solid black;
}
.sidenav-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  // border: 2px solid black;
}
.sidenav-container {
  display: flex;
  height: 70vh; 
  width: 50%;
  justify-content:space-between;
  margin: 20px;
  opacity: 0.99;
}

.sidenav {
  width: 250px;
  background-color: #FFF9DF;
  display: flex;
  flex-direction: column;
  padding-right: 10vh;
  padding: 0;
}

.mat-nav-list {
  flex-grow: 1; 
  overflow: auto; 
  padding: 0;
  margin: 0;
}

.mat-list-item {
  font-size: 16px;
  padding: 12px 16px;
  cursor: pointer;
  text-align: left;
}

.mat-list-item.active {
  font-weight: bold;
  border-radius: 4px;
}


mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

mat-sidenav-content {
  flex-grow: 1; 
  overflow-y: auto; 
  padding: 16px;
}

.sidenav-content{
  background-color: #FFF9DF;
  display: flex;
  justify-content: left;
  // border: 2px solid black;
}

.accordion-content{
  width: 100%;
}

mat-list-item{
  margin-top: 3vh;
  background-color: #FAF9FD;
}


.faq-help{
  height: 20vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}