
  <h2>Account</h2>

   <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>How can I create a new account?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>To create an account, go to the registration page, enter your personal details such as name, email, and password, and verify your account via email. Once registered, you can access your personal area and manage all your information.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Can I have more than one account?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Generally, each user is allowed only one account to ensure proper management. However, if you have specific needs (e.g., for business use), we recommend contacting our customer support to discuss available options.</p>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>I forgot my registration email, what should I do?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>If you don’t remember the email you registered with, try retrieving it through our customer support. If you have access to your account, you can update the email directly in your profile settings. Alternatively, you can also try logging in using your phone number if it’s associated with your account.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>How can I update my contact information?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>You can update your contact information by accessing your profile section and modifying your phone number, email address, and other details. Make sure to save the changes to ensure they take effect.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>How can I delete my account?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>If you wish to delete your account, go to the settings section and follow the link to request account closure. We will send you an email to confirm your request. Please note that deletion is permanent, and you won’t be able to recover your data.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Why has my account been suspended?</mat-panel-title>
      </mat-expansion-panel-header>
      <p>Accounts are generally suspended for violating our terms of service or suspicious activities, such as unauthorized login attempts. If you believe your account has been suspended by mistake, contact our support team to resolve the issue.</p>
    </mat-expansion-panel>
