
<!-- <app-toolbar></app-toolbar> -->

    <div class="body-container">
        <div class="chisiamo">Chi siamo?</div>
        <div class="central-body">
            <div class="inside-central-body">
                <div class="central-body-text">Green Shelf nasce dall'idea di sei giovani appassionati di lettura, uniti per realizzare un progetto innovativo che promuova la cultura e la sostenibilità.
                    La nostra piattaforma permette agli utenti di condividere i propri libri con altri membri, attraverso un sistema di abbonamento semplice e trasparente. Crediamo che la lettura sia un diritto di tutti e che, attraverso la condivisione, si possa ridurre l'impatto ambientale legato alla produzione di nuovi volumi.
                    Con Green Shelf, ci impegniamo a favorire una community attiva, responsabile e consapevole, per diffondere l'amore per i libri e rispettare il nostro pianeta.</div>
                <div class="central-body-img"><img src="assets/GreenShelf-logo.png" alt=""></div>
            </div>
        </div>


        <div class="central-low-body">
            <div class="inside-central-low-body">
                <div class="inside-central-low-body-icon">
                    <div><img src="assets/language_24dp_UNDEFINED_FILL0_wght400_GRAD0_opsz24.png" alt=""></div>
                    <div>La lettura ci collega tutti</div>
                </div>
                <div class="inside-central-low-body-icon">
                    <div><img src="assets/book_5_24dp_UNDEFINED_FILL0_wght400_GRAD0_opsz24.png" alt=""></div>
                    <div>Cresciamo insieme, un libro alla volta</div>
                </div>
                <div class="inside-central-low-body-icon">
                    <div><img src="assets/eco_24dp_UNDEFINED_FILL0_wght400_GRAD0_opsz24.png" alt=""></div>
                    <div>Un libro condiviso è una radice per il domani</div>
                </div>
                <div class="inside-central-low-body-icon">
                    <div><img src="assets/forest_24dp_UNDEFINED_FILL0_wght400_GRAD0_opsz24.png" alt=""></div>
                    <div>Condividi storie, coltiva il futuro</div>
                </div>
                <div class="inside-central-low-body-icon">
                    <div><img src="assets/eyeglasses_24dp_UNDEFINED_FILL0_wght400_GRAD0_opsz24.png" alt=""></div>
                    <div>Dalla lettura nasce un mondo più verde</div>
                </div>
            </div>
        </div>
        

        <!-- <app-footer></app-footer> -->

    </div>