<div id="homepage-container">
    <div id="header-container">
        <div id="left-content">
            <div id="logo"><img src="assets/GreenShelf-logo.png" alt="Logo" routerLink="/homepage"></div>
            <div id="title">GreenShelf</div>
        </div>
        <div class="header-options">
            <a href="mailto: testGreenshelf@gmail.com" style="text-decoration: none; color: inherit" >Contact us</a>
            <div routerLink="/aboutus" style="text-decoration: none; color: inherit">About us</div>
            <div routerLink="/faq" style="text-decoration: none; color: inherit">FAQ</div>
            <div routerLink="/subscription" style="text-decoration: none; color: inherit">Subscriptions</div>
        </div>
        <div id="header-icons">
            <img src="assets/shopping-cart.png" alt="">
            <img src="assets/person_24dp_UNDEFINED_FILL0_wght400_GRAD0_opsz24.png" alt="">
        </div>
    </div>